@import "compass/reset";
@import "compass/css3";

$em: 14px;
$main-width: 800px;
$main-padding:2*$em;
$main-padded-width: 800px - 2*$main-padding;
$input-width: 350px;

html, body, #container{
	width:100%;
	height:100%;
	background:#aaa;
}
body, textarea, input, button{
	font-size:$em;
	font-family:Georgia;
}

#main, #container > header h1, #container > header nav ul{
	width:800px;
	margin:auto;
}
#main{
	width:800px - 4*$em;
	padding:2*$em;
}

#container{
	& > header{
		background:#222224;
		h1 a{
			font-size:4*$em;
			color:#ccc;
			text-decoration:none;
			display:block;
		}
		nav{
			background:#ccc;
			line-height:2*$em;
			height:2*$em;
			
			ul li{
				float:left;
				
				a{
					display:block;
					text-decoration:none;
					color:#666;
					padding:0 $em;
					
					&:hover{
						background:#ddd;
					}
				}
			}
		}
	}
	& > footer {
		background:#222224;
		min-height:10*$em;
		width:100%;
	}
}

#main{
	@include box-shadow(#444, 0, 0, 5px);
	background:#ccc;
	margin:2*$em auto;
	
	em{font-style:italic;}
	strong{font-weight:bold;}
	
	p, table, blockquote, ul, ol, form{
		line-height: 1.5*$em;
		margin-bottom:1.5*$em;
		&:last-child{
			margin-bottom:0;
		}
	}
	h1, h2, h3{
		margin-bottom:$em;
	}
	h1{
		font-size:2*$em;
	}
	h2{
		font-size:1.75*$em;
	}
	h3{
		font-size:1.5*$em;
	}
	table{
		width:100%;
	}
	input, textarea{
		line-height:1.5*$em;
		padding-left:.5*$em;
		min-height:1.5*$em;
		resize:none;
		border: {
			width:1px;
			style:solid;
			color:#777;
		}
		@include border-radius(.75*$em + 2px);
		@include box-shadow(inset 0 0 1px #000);
		width: $input-width - .5*$em - 2px;
		&:focus{
			border-color:#222;
		}
		&.error{
			border-color:#d00;
		}
	}
	article{
		&.ticket{
			header{
				margin-bottom:$em;
				h2{
					font-style:italic;
					font-size:$em;
					display:inline;
					&:after{content:". "}
				}
			}
		}
		footer{
			border-top:1px solid;
			padding:2*$em 2*$em 0;
			margin: 2*$em -2*$em 0;
		}
	}
}

body.home #main form.search{
	input{
		width:$main-padded-width - .5*$em - 2px;
		font-size:2*$em;
		line-height:3*$em;
		height:3*$em;
		padding-left:$em;
		@include border-radius(1.5*$em + 2px);
	}
}
