{% extends 'ticketeer/__base.html' %}

{% block content %}
	{% block ticket %}
	<article class='ticket'>
		<header>
			{% block ticket_header %}
			<h1><a href="{{ request.path }}">#{{ ticket.id }}: {{ ticket.summary }} (<span class="type">{{ ticket.type }}</span>)</a></h1>
			{% endblock %}
		</header>
		
		{% block ticket_content %}
		{{ ticket.description }}
		{% endblock %}
		
		{% block ticket_changes %}
		{% endblock %}
		
		<footer>
			<h1>Modify ticket</h1>
			{% block ticket_form %}
				<form method='post' action='{{ request.path }}'>{% csrf_token %}
					<table>
						<tfoot>
							<tr>
								<td><button type="submit">Save changes</button></td>
							</tr>
						</tfoot>
						<tbody>
						{{ form }}
						</tbody>
					</table>
				</form>
			{% endblock %}
		</footer>
	</article>
	{% endblock %}
{% endblock %}