{% extends 'ticketeer/__base.html' %}

{% block content %}
	{% block ticket %}
	<article class='ticket'>
		<header>
			{% block ticket_header %}
			<h1>{{ ticket.summary }}</h1>
			{% endblock %}
		</header>
		
		{% block ticket_content %}
		{{ ticket.description }}
		{% endblock %}
		
		<footer>
			<h1>Modify ticket</h1>
			{% block ticket_form %}
				<form method='post' action='{{ request.path }}'>{% csrf_token %}
					<table>
						<tfoot>
							<tr>
								<td><button type="submit">Save changes</button></td>
							</tr>
						</tfoot>
						<tbody>
						{{ form }}
						</tbody>
					</table>
				</form>
			{% endblock %}
		</footer>
	</article>
	{% endblock %}
{% endblock %}