{% extends 'ticketeer/__base.html' %}

{% block content %}
	{% block search_form %}
	{% include "ticketeer/_search_form.html" %}
	{% endblock %}
	{% block ticket_list %}
	<table>
		<thead>
			{% block ticket_list_headers %}
			<th>Ticket ID</th>
			<th>Summary</th>
			{% endblock %}
		</thead>
		<tbody>
		{% for ticket in ticket_list %}
		{% block ticket_list_item %}
			<tr>
				{% block ticket_list_item_fields %}
				{% url ticketeer_ticket_detail ticket_id=ticket.id as ticket_url %}
				<td><a href="{{ ticket_url }}">{{ ticket.id }}</a></td>
				<td><a href="{{ ticket_url }}">{{ ticket.summary }}</a></td>
				{% endblock %}
			</tr>
		{% endblock %}
		{% endfor %}
		</tbody>
	</table>
	{% endblock %}
{% endblock %}
