{% extends "ticketeer/tickets/detail.html" %}

{% load humanize trac_wiki %}

{% block ticket_header %}
	{{ block.super }}
	<h2>Opened by <span class="user">{{ ticket.reporter }}</span> <time datetime="{{ ticket.time|date:'c' }}">{{ ticket.time|naturaltime }}</time></h2>
	{% if ticket.changetime != ticket.time %}
		<h2>Last changed <time datetime="{{ ticket.changetime|date:'c' }}">{{ ticket.changetime|naturaltime }}</time></h2>
	{% endif %}
	{% if ticket.owner %}
		<h2>Owned by <span class="user">{{ ticket.owner }}</span></h2>
	{% endif %}
{% endblock %}

{% block ticket_content %}
	{{ ticket.description|trac_wiki|safe }}
{% endblock %}

{% block ticket_changes %}
{% for change in ticket_changes %}
	<article class='comment'>
		<header>
			<h1>Changed <time datetime="{{ change.date|date:'c' }}">{{ change.date|naturaltime }}</time> by <span class='user'>{{ change.author }}</span></h1>
		</header>
		{% if change.fields %}
			<dl>
				{% comment %}TODO: This shouldn't hard-code ems.{% endcomment %}
				{% for field in change.fields.values %}
				<dt>{{ field.label }}</dt>
				{% if field.old and field.new %}
					<dd>Changed from <em>{{ field.old }}</em> to <em>{{ field.new }}</em></dd>
				{% else %}
					{% if field.old %}
						<dd>Deleted.</dd>
					{% else %}
						<dd>Set to <em>{{ field.new }}</em>.</dd>
					{% endif %}
				{% endif %}
				{% endfor %}
			</dl>
		{% endif %}
		{{ change.comment|trac_wiki|safe }}
	</article>
{% endfor %}
{% endblock %}
